.home{
    width: 100vw;
    height: 100vh;
    z-index: 2 !important;
    overflow: scroll;
}
.header{
    width: 100%;
    height: 10%;
    min-height: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    /* color: lightcoral; */
    /* text-decoration: underline; */
    color: #831843;
    z-index:10;
}
.calendar-with-form{
    /* height: 100%; */
    /* background-color: red; */
    margin-top: 20px !important;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 20px;
}
.calender-date{
    width: 40%;
    z-index: 2;
    /* background-color: pink; */
    padding-left: 20px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.form{
    /* width: 60%; */
    /* background-color: #fff1f2; */
    justify-content: center;
    text-align: start;
    align-items: start;
    gap: 50px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.user-box, .reservation-box{
    width: 100%;
    justify-content: center;
    gap: 30px;
    
}
.title{
    color: #831843;
    font-size: 20px;
    /* justify-content: center; */
    text-align: center;
}
.user-fields, .reservation-fields{
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: center; */

}
.user-field{
    width: 40%;
}
.user-field2 {
    width: 100%;
}
.address{
    width: 100%;
    /* justify-content: center; */
}
.user-field-address{
    width: 85%;
}
.room-choices{
    width: 100%;
    /* background-color: pink; */
}
.room-types {
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    gap: 5%;
}
.submit{
    width: 100%;
    text-align: center;
    align-items: center;
    height: 50px;
    justify-content: center;
}
.book-submit{
    width: 200px;
    color: #831843 !important;
    border: 1px solid #831843 !important;
    border-radius: 20px !important;
}

.counter-adults{
    text-align: center;
    gap: 5px;
    /* background-color: red; */
}
.counter{
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    border-radius: 20px !important;
    width: 120px;
    height: 40px;
}
.title2{
    font-size: medium;
    color: purple;
}
.title3{
    font-size: large;
    color: #831843;
}
.availability{
    width: 100%;
    /* background-color: red; */
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.title4{
    color: red;
}
.rooms-avai{
    width: 100%;
    /* background-color: red; */
    text-align: center;
    justify-content: center;
    gap: 20px;
    color: #831843;
}
.room-type-avai{
    /* font-size: medium; */
    font-size: 17px;
    gap: 10px;
}


@media screen and (max-width:850px){
    .home{
        overflow: scroll;
    }
    .header{
        height: 160px;
    }
    .calendar-with-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 40px !important;
        gap: 50px;
    }
    .calender-date{
        padding: 0px;
        width: 80%;
    }
    ion-datetime{
        font-size: 5px !important;
    }
}

.budget-user{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.MuiInputBase-root {
    color: #831843 !important;
}

.outlined-start-adornment{
    .MuiInputBase-root {
            color: #831843 !important;
            border-radius: 30px !important;
            width: 130px;
            height: 40px;            
            /* background-color: red; */
            margin: auto;
        }
    .MuiOutlinedInput-root{
        border: none;
        border: 1px solid #831843 !important; 
        /* border-color: red; */

    }
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
        border: 1px solid #831843 !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
        border: 1px solid #831843 !important;
    }
    .MuiInputBase-root::placeholder{
        background-color: white;
    }
}
